<li class="message"
    data-bind="css: { 'message-game': type() == Chat.GAME_MESSAGE,
                      'message-error': type() == Chat.ERROR,
                      'message-highlight': isHighlight()
                    }">

    <span class="timestamp">
        [<span data-bind="text: formatTime"></span>]
    </span>

    <!-- ko if: type() != Chat.ACTION -->
    <!-- ko if: user() -->
    <span class="name">
        &lt;<span data-bind="text: user().name"></span>&gt;
    </span>
    <!-- /ko -->
    <span class="text" data-bind="html: formatMessage">&nbsp;</span>
    <!-- /ko -->

    <!-- ko if: type() == Chat.ACTION -->
    <span class="action">
        *
        <span data-bind="text: user().name">&nbsp;</span>
        <span data-bind="html: formatMessage">&nbsp;</span>
    </span>
    <!-- /ko -->
</li>
