{{#extend 'layouts/default'}}

    {{#replace 'content'}}

        <h1>Manage CardCast decks</h1>

        <h2>Import deck</h2>

        <div class="row">
            <div class="col-xs-6">
                Search by name goes here
            </div>

            <div class="col-xs-6">
                <div class="row form-inline">

                    <div class="col-xs-12 row">
                        <div class="col-xs-4 form-group">
                            <input type="text" class="form-control"
                                   data-bind="value: probeCode, returnAction: doProbeCode, valueUpdate: 'afterkeydown', disable: busy"
                                   placeholder="5 digit code" maxlength="5">
                        </div>

                        <div class="col-xs-2 form-group">
                            <button data-bind="click: doProbeCode, disable: busy">
                                Check
                            </button>
                        </div>

                        <div class="col-xs-6">
                            <span data-bind="text: probeMessage"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        {{!-- Deck probing result --}}
        <!-- ko if: probeResult -->
        <div class="row">
            <div class="col-xs-12" data-bind="with: probeResult()">

                <h3>
                    <span data-bind="text: name"></span> by <span data-bind="text: author().name"></span> (<span
                        data-bind="text: code"></span>)
                </h3>

                <p data-bind="text: description"></p>

                <p>
                    Last update: <span data-bind="text: updatedAt"></span><br><br>
                    Black cards: <span data-bind="text: numBlackCards"></span><br>
                    White cards: <span data-bind="text: numWhiteCards"></span>
                </p>

                <button data-bind="click: $root.doImport, disable: $root.busy">Import</button>

            </div>
        </div>
        <!-- /ko -->

        <h2>Known decks</h2>
        <div class="row">
            <div class="col-xs-12">
                <!-- ko if: allDecks().length -->
                <table class="table table-striped table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Black cards</th>
                        <th>White cards</th>
                        <th>Author</th>
                        <th>Unlisted</th>
                        <th>Category</th>
                        <th>Rating</th>
                        <th>Deck updated</th>
                        <th>Cache updated</th>
                        <th>Cache age</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>

                    <tbody data-bind="foreach: allDecks">
                    <tr>
                        <td data-bind="text: code">&nbsp;</td>
                        <td data-bind="text: name">&nbsp;</td>
                        <td data-bind="text: status">&nbsp;</td>
                        <td data-bind="text: numBlackCards">&nbsp;</td>
                        <td data-bind="text: numWhiteCards">&nbsp;</td>
                        <td data-bind="text: author().name">&nbsp;</td>
                        <td data-bind="text: unlisted">&nbsp;</td>
                        <td data-bind="text: category">&nbsp;</td>
                        <td data-bind="text: rating">&nbsp;</td>
                        <td data-bind="text: updatedAt().format('MMMM Do YYYY, HH:mm')">&nbsp;</td>
                        <!-- ko if: cacheUpdatedAt() -->
                        <td data-bind="text: cacheUpdatedAt().format('MMMM Do YYYY, HH:mm')">&nbsp;</td>
                        <td data-bind="text: moment.duration(moment().diff(cacheUpdatedAt())).humanize()">&nbsp;</td>
                        <!-- /ko -->
                        <!-- ko if: !cacheUpdatedAt() -->
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <!-- /ko -->
                        <td>
                            <a href="#" data-bind="click: $root.update">Update</a>
                        </td>
                        <td>
                            <a href="#" data-bind="click: $root.unload">Unload</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- /ko -->
                <!-- ko if: !allDecks().length && !busy() -->
                No decks cached
                <!-- /ko -->
            </div>
        </div>

    {{/replace}}

    {{#append 'defer'}}
        <script>
            $(function () {
                model = new AdminCardCastViewModel({{{cachedCardsJson}}});
                ko.applyBindings(model);
                model.updateDecks();
            });
        </script>
    {{/append}}

    {{#replace 'globalChat'}}{{/replace}}
    {{#replace 'initGlobalChat'}}{{/replace}}

{{/extend}}
