<div class="alert alert-warning alert-dismissable" id="cookie-notice" style="display: none">
    <button type="button" class="close" data-dismiss="alert" onclick="hideCookieNotice()">
        <span aria-hidden="true">&times;</span><span class="sr-only">Hide</span>
    </button>

    <p>
        This site uses cookies to remember your name, your selected theme and to count the number of visitors.
        <br/>
        If you feel that invades your privacy, leave this site now.
    </p>

    <p>
        Due to terrible law making in Europe I'm required to display this notice. Sorry for annoying you.
    </p>

    <p>
        Click <a href="#" onclick="hideCookieNotice()">here</a> to hide this notice.
    </p>
</div>
