{{#extend 'layouts/default'}}

    {{#replace 'content'}}
        <h1>About</h1>

        <p>
            Cards Against Equestria is a <a href="http://cardsagainsthumanity.com/">Cards Against Humanity</a>
            clone.<br/>
            Cards Against Humanity is a trademark of Cards Against Humanity LLC. Cards Against Humanity LLC does not
            endorse or sponsor this clone.
        </p>

        <p>

        </p>

        <h2>Author</h2>
        <p>
            Cards Against Equestria was written by Rylius.<br/>
            You can stalk him on <a href="https://twitter.com/rylius">Twitter</a> or look at his stupid and dead
            <a href="http://rylius.de/">blog</a>.
        </p>

        <h2>Special Thanks</h2>
        <ul>
            <li>
                The Regulars crew. You know who you are.
                <i class="glyphicon glyphicon-heart"></i>
            </li>

            <li>
                <a href="https://github.com/ajanata">Andy Janata</a> for creating
                <a href="http://pyx.socialgamer.net/">Pretend You're Xyzzy</a>,
                a major inspiration and the predecessor to this site.
            </li>
        </ul>

    {{/replace}}

{{/extend}}
