{{#extend 'layouts/default'}}

    {{#replace 'content'}}
        <h1>Contact</h1>

        <h2 id="irc">
            IRC
        </h2>

        <p>
            You can chat with us in #CardsAgainstEquestria on the
            <a href="http://canternet.org/chat">Canternet IRC Network</a>.<br/>
            Or just click <a href="http://client.canternet.org?channels=CardsAgainstEquestria">here</a>
            if you don't have an IRC client installed.
        </p>

        <h2 id="expansions">
            Expansion suggestions
        </h2>

        <p>
            Want to have your own expansion or even base set on here?<br/>
            Let us know!
        </p>
        <p>
            If you're nice you'll provide us with a nice CSV or JSON file
            (<a href="http://pastebin.com/HKu79D7i">template</a>) so we can import it easily.<br/>
            Google Spreadsheets are cool too!
        </p>
        <p>
            Poke us on IRC or send a <a href="mailto:ryliusk@gmail.com?subject=[CAE] [Cards] <expansion name>">mail</a>.
        </p>
        <p>
            We reserve the right to reject suggestions without stating a reason.
        </p>
        <p>
            <strong>Coming soon</strong>: Suggestion page so you don't have to write emails! Woot!
        </p>

        <h2 id="bugs">
            Bug reports / Feature suggestions
        </h2>
        <p>
            Ask on IRC or use the
            <a href="https://github.com/Rylius/CardsAgainstEquestria/issues">issue tracker on GitHub</a>.<br/>
            Bonus points for screenshots, user names and dates!
            <br/><br/>
            <small>Please don't use the issue tracker to suggest cards.</small>
        </p>

        <h2 id="admin">
            Site Administrator
        </h2>

        <address>
            <strong>Nils G&uuml;nther</strong><br/>
            Steinstra&szlig;e 5<br/>
            64367 M&uuml;hltal<br/>
            Germany<br/><br/>
            <a href="mailto:nils-guenther@web.de?subject=[CAE] [Admin] <subject>">Email</a>
        </address>
    {{/replace}}

{{/extend}}
