{{#extend 'layouts/default'}}

    {{#replace 'content'}}
        <h1>Contact</h1>

        <h2 id="irc">
            IRC
        </h2>

        <p>
            You can chat with us in <strong>#CardsAgainstEquestria</strong> on the
            <a href="http://canternet.org/chat">Canternet IRC Network</a>.<br/>
            Or just click <a href="http://client.canternet.org?channels=CardsAgainstEquestria">here</a>
            if you don't have an IRC client installed.
        </p>

        <h2 id="expansions">
            Expansion/card suggestions
        </h2>

        <p>
            Want to have your own expansion or even base set on here? <b>As of version
            1.0.8, you can create your own decks temporarily for a game.</b> If you really
            want to add a permanent deck, follow these steps:
        </p>
        <p>
            <strong>Coming soon:</strong>
            Suggestion page so you don't have to do silly things! Woot!
        </p>
        <p>
            We reserve the right to reject suggestions without stating a reason.
        </p>

        <h3>With GitHub</h3>
        <p>
            <a href="https://github.com/Rylius/CardsAgainstEquestria/fork">Fork</a> the project and make changes in the
            data/decks directory. When you're done, send us a
            <a href="https://help.github.com/articles/creating-a-pull-request">pull request</a>. Easy!<br/>
            Creating a branch is highly encouraged.
        </p>
        <p>
            <strong>Please note:</strong>
            Cloning the repository into your local file system is usually not required, you can work on GitHub directly.
        </p>

        <h3>Without GitHub</h3>
        <p>
            If you're nice you'll provide us with a nice CSV or JSON file
            (<a href="https://gist.github.com/Rylius/8056313">template</a>) so we can import it easily.<br/>
            Google Spreadsheets are cool too!
        </p>
        <p>
            Poke an Op on IRC when you're done so we can sort out the details.
        </p>

        <h2 id="bugs">
            Bug reports / Feature suggestions
        </h2>
        <p>
            Ask on IRC or use the
            <a href="https://github.com/Rylius/CardsAgainstEquestria/issues">issue tracker on GitHub</a>.<br/>
            Bonus points for screenshots, user names and dates!
            <br/><br/>
            <small>Please don't use the issue tracker to suggest cards.</small>
        </p>

        <h2 id="admin">
            Site Administrator
        </h2>

        <address>
            <strong>Nils G&uuml;nther</strong><br/>
            Steinstra&szlig;e 5<br/>
            64367 M&uuml;hltal<br/>
            Germany<br/><br/>
            <a href="mailto:nils-guenther@web.de?subject=[CAE] [Admin] <subject>">Email</a>
        </address>
    {{/replace}}

{{/extend}}
