{{#extend 'layouts/default'}}

    {{#replace 'content'}}
        <h1>Licenses</h1>

        <h2>Cards Against Humanity</h2>
        <p>
            <a href="http://cardsagainsthumanity.com/">Cards Against Humanity</a> is available under a
            <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">Creative Commons BY-NC-SA 2.0 license</a>.
        </p>
        <p>
            Cards Against Humanity is a trademark of Cards Against Humanity LLC. Cards Against Humanity LLC does not
            endorse or sponsor this clone.
        </p>

        <h2>Cards Against Equestria</h2>
        <p>
            Cards Against Equestria is available under a
            <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">Creative Commons BY-NC-SA 2.0 license</a>.
        </p>

        <a href="http://getbootstrap.com/">
            <h3>Twitter Bootstrap</h3>
        </a>
        <p>
            Bootstrap is licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2.0</a>.
        </p>
        <p>
            Uses icons from <a href="http://glyphicons.com/">GLYPHICONS</a>.
        </p>

        <a href="http://jquery.com/">
            <h3>jQuery</h3>
        </a>
        <p>
            jQuery is provided under the
            <a href="https://github.com/jquery/jquery/blob/master/MIT-LICENSE.txt">MIT license</a>.
        </p>

        <a href="http://www.malsup.com/jquery/block/">
            <h4>blockUI</h4>
        </a>
        <p>
            Copyright &copy; 2007-2013 M. Alsup.<br/>
            Available under the <a href="http://malsup.github.io/mit-license.txt">MIT license</a>.
        </p>

        <a href="http://knockoutjs.com/">
            <h3>Knockout</h3>
        </a>
        <p>
            &copy; Steven Sanderson - <a href="http://knockoutjs.com/">http://knockoutjs.com/</a><br/>
            License: <a href="http://www.opensource.org/licenses/mit-license.php">MIT</a>
        </p>

        <a href="http://underscorejs.org/">
            <h3>Underscore</h3>
        </a>
        <p>
            Available under the
            <a href="https://github.com/jashkenas/underscore/blob/master/LICENSE">MIT license</a>.
        </p>
    {{/replace}}

{{/extend}}
