{{#extend 'layouts/default'}}

    {{#replace 'content'}}
        <h1>
            Suggest cards for {{{deck.name}}}
            <small>
                <a href="/deck/suggest">
                    Return to overview
                </a>
            </small>
        </h1>
        {{#if deck.author}}
            <div class="alert alert-warning">
                This deck is a suggestion by {{deck.author.name}} and not yet playable.
            </div>
        {{/if}}
        <p>
            {{deck.description}}
        </p>

        <div class="alert alert-warning">
            By suggesting cards, you accept...
            <ul>
                <li>
                    you have permission by referenced people or companies
                </li>
                <li>
                    you do not retain any licensing rights on the card content
                </li>
                <li>
                    we can reject your suggestions for no reason
                </li>
                <li>
                    you will not be credited for any accepted cards
                </li>
            </ul>
            We will remove your access to this function if you fail to subject to the rules.
        </div>
    {{/replace}}

{{/extend}}
