{{#extend 'layouts/default'}}

    {{#replace 'content'}}
        <form id="create" method="post" class="form-horizontal">
            <h1>Host a new game</h1>

            <p>
                Create your own game and invite people to join you! Yay!
            </p>

            <input type="submit" id="submit" value="Create game">
        </form>
        <br/>
    {{/replace}}

    {{#append 'defer'}}
        <script>
            $(function () {
                $('#submit').click(function () {

                    $.ajax('/ajax/game/create', {
                        method: 'post',
                        success: function (data) {
                            window.location.href = '/game/lobby/' + data.id;
                        }
                    });

                    return false;
                });
            });
        </script>
    {{/append}}

{{/extend}}
