{{#extend 'layouts/default'}}

    {{#replace 'content'}}
        <form id="create" method="post" class="form-horizontal">
            <h1>Host a new game</h1>

            {{#if errors}}
                {{#each errors}}
                    <p class="has-error">
                        {{{this}}}
                    </p>
                {{/each}}
                <p class="has-error">
                    Please join an existing game or wait until others finish playing.
                </p>
            {{else}}
                <p>
                    Create your own game and invite people to join you! Yay!
                </p>
            {{/if}}

            {{#unless errors}}
                <input type="submit" id="submit" value="Create game">
            {{/unless}}
        </form>
        <br/>
    {{/replace}}

    {{#append 'defer'}}
        <script>
            $(function () {
                $('#submit').click(function () {

                    $.ajax('/ajax/game/create', {
                        method: 'post',
                        success: function (data) {
                            window.location.href = '/game/lobby/' + data.id;
                        },
                        error: function () {
                            window.location.reload(true);
                        }
                    });

                    return false;
                });
            });
        </script>
    {{/append}}

{{/extend}}
