<div id="game-players-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    Manage players and bans
                </h4>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-xs-6">
                        <h4>Current players</h4>
                        <ul>
                            <!-- ko foreach: players -->
                            <li class="player">
                                <strong data-bind="text: name"></strong>
                                <!-- ko if: (_.isFunction($root.game().host) ? $root.game().host() : $root.game().host).id != id -->
                                &nbsp;
                                <button class="btn btn-sm btn-default" data-bind="click: $root.kick">
                                    Kick
                                </button>
                                <button class="btn btn-sm btn-danger" data-bind="click: $root.ban">
                                    Ban
                                </button>
                                <!-- /ko -->
                            </li>
                            <!-- /ko -->
                        </ul>
                    </div>

                    <div class="col-xs-6">
                        <h4>Saved bans</h4>
                        <ul>
                            <!-- ko foreach: $root.bans -->
                            <li class="player">
                                <strong data-bind="text: name"></strong>
                                &nbsp;
                                <button class="btn btn-sm btn-default" data-bind="click: $root.unban">
                                    Unban
                                </button>
                            </li>
                            <!-- /ko -->
                        </ul>
                    </div>
                </div>

                {{!--
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Import / export ban list</h4>
                                <span class="help-block">
                                    The ban list code is automatically updated when you make changes above.
                                </span>
                        <textarea class="ban-export"></textarea>

                        <div class="pull-right">
                            <button class="btn btn-default">
                                <span class="glyphicon glyphicon-import"></span>
                                Import
                            </button>
                            <button class="btn btn-default">
                                <span class="glyphicon glyphicon-floppy-disk"></span>
                                Save
                            </button>
                        </div>

                                <span class="help-block">
                                    Importing a ban list code will replace all settings above.<br>
                                    Be careful and consider copying the current code into a blank text file first.
                                </span>

                                <span class="help-block">
                                    Saving will store a cookie containing the code on your current device.<br>
                                    That saved list is automatically loaded each time you create a new game.
                                </span>
                    </div>
                </div>
                --}}

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
